/* Começo Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Fim Reset */

@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;700;800&display=swap");

body{
    background-color: #17ced4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Começo Topo */
#topo{
    
    width: 100%;
    height: 100px; 
    background-color: #17ced4;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.kdmeupet{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-top: 2.5%;
    text-align: center;
    font-weight: bolder;
}

.logo{
    width: 8%;
    height: 100%;
    /* background-color: red; */
}

.menu{
    width:70%;
    height: 100%;
    /* background-color: lightgreen; */
    /* padding: 0px 0px 0px 50px; */
    display: flex;
    justify-content: space-evenly;
    
}

nav{
    margin-top: 25px;
    width: 70%;
    height: 50%;
    /* background-color: gray; */
    display: center;
    justify-content: flex-end;
    /* margin: 0 auto; */
    
}

nav ul{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: center;
}

nav ul a{
    color: black;
    text-decoration: none;
    padding: 15px 20px 0px 20px; /*é espaçamento interno*/
    /*margin: ; espaçamento externo*/
    /* margin-right: 2px; */
    border-right: 0px transparent transparent;
    background-color: #1e7477;
    border-radius: 10px 20px;
}

nav ul a:last-child{
    border: none;
}

/* nav ul a:nth-child(1){
    border-radius: 10px 0 0 10px;
} */

/* nav ul a:last-child{
    border-radius: 0 10px 10px 0;
} */

.telaAberta{
    background-color: #17ced4;
    color: black;
}



nav ul a:link{}

nav ul a:visited{}

nav ul a:hover{
    background-color: gainsboro;
    transition: ease-in-out 0.5s;
}

nav ul a:active{
    color: black;
    background-color: gray;
    /* transition: ease-in-out 0.5s; */
}

nav ul a li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login{
    width: 25%;
    height: 80%;
    /* background-color; */
    margin-top: 9px;
    display: flex;
    /* line-height: 50px; */
    justify-content: space-evenly;
}

.login-cadastro{
    padding-top: 30px;
}

.login-cadastro a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: baseline;
}

.login-cadastro:hover{
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.carrinho-qtd{
    position: absolute;
    top: 18px;
    right: -7px;
    background-color: red;
    color: white;
    border-radius: 100px;
    width: 18px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.carrinho {
    padding-top: 25px;
    padding-left: 5px;
    position: relative;
}

/* Fim Topo */



/* Começo Banner */
.ajude{
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bolder;
}

.banner{
    height: 700px; 
    background-color: darkcyan;
    display: flex;
    justify-content: center;
}

.imagem{
    height: 600px;
    /* height: 1.5em; */
    width: 80%;
    background-color: lightblue;
    margin-top: 46px;
    /* background-image: url("https://ksr-ugc.imgix.net/assets/017/180/868/28f83143e96be07c0b4d6add2e2c20d9_original.png?ixlib=rb-2.1.0&crop=faces&w=1552&h=873&fit=crop&v=1498853434&auto=format&frame=1&q=92&s=fcfe26e600a0ffd13b4c9dbad24bda0c");
    background-size: cover; */
}

/* .imagem:hover{
    background-image: url("https://ksr-ugc.imgix.net/assets/022/067/322/c0ee6a41cfa2868ac319a9da2c113ef1_original.jpg?ixlib=rb-2.1.0&crop=faces&w=1552&h=873&fit=crop&v=1535134701&auto=format&frame=1&q=92&s=56dd211d0a3f02877f4a0332ec7a32a6");
    background-size: cover;
} */

/* Fim Banner */
/* Começo Conteudo */
.conteudo{
    height: 2000px;
    background-color: white;
    background-image: url(img/dogfundo.jpg);
    background-size: cover;
    background-attachment: fixed;/* Paralax */
    
}

.fundodoconteudo{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.698);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    height: 500px;
    width: 40%;
    background-color: white;
    padding-bottom: 13.781px;
    margin-top: 30px;
}

.card:hover{
    box-shadow: 0px 20px 30px rgb(135, 226, 238);
    transition: 0.5s;
    /* box-shadow: 0px 25px 45px black; */
}

.img-card{
    display: block;
    height: 65%;
    width: 95%;
    background-color: beige;
    margin: 13.781px auto 0 auto;
}

.cont-card{
    align-items: center;
    display: flex;
    height: 32%;
    width: 95%;
    background-color: burlywood;
    margin: 0 auto;
}



.cont-card-titulo{
    text-align: center;
    align-items: center;
    font-size: x-large;
    justify-content: center;
    height: 60%;
    width: 95%;
    background-color: darkcyan;
    margin: 0 auto;
}

.cont-card-preco{
    height: 50%;
    width: 95%;
    background-color: darkkhaki;
    margin: 0 auto;
}

/* Fim Conteudo */

/* Começo categoria */

.categoria{
    width: 100%;
    height: 150px;
    background-color: gainsboro;
    box-shadow: 0 7px 50px gray;
    margin-bottom: 50px;
}

/* Fim categoria */

/* Começo conteudo-categoria */

.categoria-conteudo{

}

.categoria-conteudo ul{
    font-size: 50px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding-top: 40px;
}

.categoria-conteudo ul li {

}

.categoria-conteudo ul li a{
    text-decoration: none;
    color: black;
}

.categoria-conteudo ul li a .text{
    background-color: rgb(252, 238, 215);
}

/* Fim conteudo-categoria */

/* Começo btn-whatsapp */

.btn-whatsapp{
    font-size: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
    /* transition: box-shadow 0.3s ease-in-out; */
}

.btn-whatsapp .fa:hover {
    opacity: 0.7;
    box-shadow: 0 0 20px green;
    
}
  
.fa-whatsapp{
    background: green;
    color: white;
}
  

/* Fim btn-whatsapp */

/* Começo Rodape */

.quem-somos{
    font-size: 50px;
}

.rodape2{
    background-color: #17ced4;
}

footer{
    /* padding-top: 10%; */
    background-color: #17ced4;
    margin: 20px;
    height: auto; 
    background-color: transparent;
    align-items: center;
}

.text1{
    padding-top: 20px;
    justify-content: center;
}

/* .fa-facebook{
    color: white;
    background-color: blue;
}
.fa-facebook:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}

.fa-instagram{
    color: white;
    background-image: linear-gradient(to bottom right, blue, red, yellow);
}
.fa-instagram:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
}

.fa-twitter{
    color: white;
    background-color: rgb(0, 195, 255);
}
.fa-twitter:hover{
    opacity: 0.5;
    transition: ease-in-out 0.5s;
} */


/* Fim Rodape */